.accordion-item {
	background: #ffffff;
	border-bottom: 1px solid #d2d2d2;
	.card-title {
		color: #204971;
		font-weight: 600;
		font-size: 18px;
		padding: 22px 16px;
		padding-right: 55px;
		position: relative;
		display: block;
		width: 100%;
		text-align: left;
		transition: all 0.3s;
		@media (min-width: 991px) {
			font-size: 21px;
			padding: 24px 16px;
		}
		.icon {
			position: absolute;
			right: 16px;
			top: calc(50% - 12px);
			transition: all 0.3s;
		}
		&.active {
			.icon {
				transform: rotate(45deg);
			}
		}
		&-children {
			font-size: 16px;
			font-weight: 600;
			color: #204971;
			padding: 16px;
			position: relative;
			width: 100%;
			text-align: left;
			padding-left: 32px;
			border-top: 1px solid #d2d2d2;
			.icon {
				position: absolute;
				right: 16px;
				top: calc(50% - 4px);
				transition: all 0.3s;
			}

			&.active {
				.icon {
					transform: rotate(180deg);
				}
			}
		}
	}
	.card-body {
		padding: 16px;
		padding-top: 0;
		@media (min-width: 991px) {
			padding-left: 32px;
		}
	}
}
