// Checkbox and Radio Button css
.app-form {
	&--checkbox {
		cursor: pointer;
		display: inline-block;
		margin: 0;
		padding: 0px 0px 0px 24px;
		position: relative !important;
		left: 0px !important;
		top: 0px !important;
		line-height: 11px;
		min-width: 16px;
		min-height: 16px;

		span {
			background: #fafafa;
			border: 1px solid $primary-color;
			border-radius: 2px;
			height: 16px;
			left: 0;
			position: absolute;
			top: calc(50% - 8px);
			transition: border-color 0.4s ease;
			width: 16px;
			color: #fff;
		}

		input {
			display: none;
			~ span {
				svg {
					display: none;
				}
			}
			&:checked {
				~ span {
					border-color: $primary-color;
					background: $primary-color;
					color: #fff;
					svg {
						display: inline-block;
					}
				}

				~ p {
					color: $primary-color;
				}
			}
		}

		&.without-text {
			padding-left: 0px !important;
			padding-right: 0px !important;

			p {
				min-height: 11px;
			}
		}
		&.white {
			span {
				background: transparent;
				border-color: #fff;
			}
			input {
				&:checked {
					~ span {
						border-color: #fff;
					}
				}
			}
			.app-form--checkbox-text {
				color: #fff !important;
			}
		}
		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
	&--checkbox-text {
		color: $dark;
		font-size: 16px;
		font-weight: normal;
		line-height: 26px;
		margin: 0px 0 0 0;
		transition: color 0.4s ease;
		&.white {
			color: #fff;
		}
		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
	&--checkbox-radio {
		height: 100%;
		span {
			background: #fff;
			border: 1px solid rgba($dark, 0.6);
			border-radius: 4px;
			text-align: center;
			padding: 20px 15px;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			color: rgba($dark, 0.6);
			height: 100%;
			min-height: 80px;
			cursor: pointer;
		}
		input {
			&:checked {
				~ span {
					background: $primary-color;
					color: #fff;
					border-color: $primary-color;
				}
			}
		}
	}
	&--radio {
		cursor: pointer;
		display: inline-block;
		margin: 0;
		padding: 0px 0px 0px 24px;
		position: relative !important;
		left: 0px !important;
		top: 0px !important;

		span {
			background-color: transparent;
			border: 1px solid rgba($dark, 0.6);
			border-radius: 7.5px;
			height: 16px;
			left: 0;
			position: absolute;
			top: calc(50% - 8px);
			transition: border-color 0.4s ease;
			width: 16px;

			&:after {
				background-color: transparent;
				border-radius: 6px;
				content: "";
				height: 6px;
				left: 4px;
				position: absolute;
				top: 4px;
				transition: background-color 0.4s ease;
				width: 6px;
			}
		}
		.radio-v2 {
			&:after {
				height: 12px;
				left: 1px;
				top: 1px;
				width: 12px;
				border-radius: 50%;
			}
		}
		p {
			color: rgba($dark, 0.6);
			font-size: 16px;
			font-weight: normal;
			margin: 0px 0 0 0;
			transition: color 0.4s ease;
			line-height: 26px;
		}

		input {
			display: none;

			&:checked {
				~ span {
					border-color: $primary-color;
					background: $primary-color;

					&:after {
						background-color: #fff;
					}
				}
				~ .radio-v2 {
					border-color: $primary-color;
					background: $primary-color;
					&:after {
						background-color: transparent;
						border: 2px solid #fff;
					}
				}

				~ p {
					color: $primary-color;
				}
			}
		}
		&.white {
			span {
				border-color: #fff;
			}
			input {
				&:checked {
					~ span {
						border-color: #fff;
					}
				}
			}
		}
		&.disabled {
			pointer-events: none;
			opacity: 0.5;
		}
	}

	&-icon-radio {
		> span {
			background: #fff;
			border: 1px solid rgba($dark, 0.15);
			border-radius: 4px;
			text-align: center;
			padding: 8px 10px;
			font-weight: 400;
			font-size: 14px;
			line-height: 14px;
			color: rgba($dark, 0.6);
			height: 100%;
			cursor: pointer;
		}
		.icon {
			height: 16px;
			width: 16px;
			margin-right: 5px;
			text-align: center;
		}
		input {
			&:checked {
				~ span {
					background: $secondary-color;
					color: #fff;
					border-color: $secondary-color;
				}
			}
		}
	}

	&--switch {
		cursor: pointer;
		display: table;
		margin: 0 20px 0 0;

		@media (min-width: 768px) {
			margin: 0 30px 0 0;
		}

		&:last-child {
			margin-right: 0;
		}
		.input-append {
			color: rgba($dark, 0.6);
		}
		.input-prepend {
			color: $dark;
		}

		span {
			background: rgba($dark, 0.25);
			border-radius: 8px;
			display: block;
			height: 16px;
			position: relative;
			transition: background-color 0.4s ease;
			width: 30px;

			&:after {
				background-color: white;
				border-radius: 5px;
				content: "";
				height: 10px;
				left: 3px;
				position: absolute;
				top: 3px;
				transition: left 0.4s ease;
				width: 10px;
			}
		}

		input {
			display: none;

			&:checked {
				~ span {
					background-color: $secondary-color;

					&:after {
						left: 17px;
					}
				}
				~ .input-prepend {
					color: rgba($dark, 0.6);
				}
				~ .input-append {
					color: $dark;
				}
			}
		}
		&.white {
			span {
				background: rgba(#fff, 0.5);
			}
			.input-prepend {
				color: #fff;
			}
			.input-append {
				color: rgba(#fff, 0.6);
			}
			input {
				&:checked {
					~ .input-prepend {
						color: rgba(#fff, 0.6);
					}
					~ .input-append {
						color: #fff;
					}
				}
			}
		}
		&.disabled {
			pointer-events: none;
			opacity: 0.5;
		}
	}
}
