.tooltip {
	position: relative;
	display: inline-block;
	.tooltiptext {
		visibility: hidden;
		min-width: 180px;
		background-color: #fff;
		border: 1px solid #d6d6d6;
		color: rgba(13, 13, 13, 0.6);
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		border-radius: 6px;
		padding: 10px 16px;
		position: absolute;
		z-index: 1;
		left: calc(50% - 90px);
		bottom: 20px;
		@media (max-width: 575px) {
			font-size: 12px;
			padding: 5px;
			min-width: 120px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -6px;
			border-width: 6px;
			border-style: solid;
			border-color: #d6d6d6 transparent transparent transparent;
		}
		&:before {
			content: "";
			position: absolute;
			top: 98%;
			left: 50%;
			margin-left: -6px;
			border-width: 6px;
			border-style: solid;
			border-color: #fff transparent transparent transparent;
			z-index: 1;
		}
	}
	&:hover .tooltiptext {
		visibility: visible;
	}
	&.bottom {
		.tooltiptext {
			bottom: auto;
			top: 20px;
			&:after {
				top: -13px;
				border-color: transparent transparent #d6d6d6 transparent;
			}
			&:before {
				top: -12px;
				border-color: transparent transparent #fff transparent;
			}
		}
	}
	&.left {
		.tooltiptext {
			bottom: auto;
			left: auto;
			right: 22px;
			top: -13px;
			&:after {
				top: 12px;
				left: auto;
				right: -13px;
				border-color: transparent transparent transparent #d6d6d6;
			}
			&::before {
				top: 12px;
				left: auto;
				right: -12px;
				border-color: transparent transparent transparent #fff;
			}
		}
	}
	&.right {
		.tooltiptext {
			bottom: auto;
			left: 20px;
			top: -13px;
			&:after {
				top: 12px;
				left: -6px;
				border-color: transparent #d6d6d6 transparent transparent;
			}

			&::before {
				top: 12px;
				left: auto;
				left: -5px;
				border-color: transparent #fff transparent transparent;
			}
		}
	}
}
