.app-footer {
	&-widgets {
		background: #e7e7e7;
		.f-widgets-title {
			font-size: 16px;
		}
	}
	&-copyright {
		background: rgba($dark, 0.15);
	}
}
.link-list {
	.navbar-nav {
		li {
			margin-bottom: 4px;
			&:last-child {
				margin-bottom: 0px;
			}
			a {
				color: rgba($dark, 0.6);
				font-size: 14px;
				display: block;
				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
}

.link-image {
	.navbar-nav {
		li {
			margin-right: 10px;
			&:last-child {
				margin-right: 0px;
			}
		}
	}
}
