@tailwind base;
@tailwind components;
@tailwind utilities;

/* All Variable style  */
@import "themes/variables";

/* Demo style  */
@import "themes/demo";

/* Theme style  */
@import "themes/predefined", "themes/button", "themes/breadcrumb",
	"themes/header", "themes/form", "themes/title", "themes/service",
	"themes/fuel-calculator", "themes/energy-assessment", "themes/testimonial",
	"themes/projects", "themes/table", "themes/header-sm"; 

@import "components/dropdown", "components/step", "components/custom-checkbox",
	"components/rcs-button", "components/hee", "components/table",
	"components/loader", "components/thought-of-everything",
	"components/accordion", "components/tooltips", "components/modal",
	"components/grants-calculator", "components/apply-section", "components/privacy-policy",
	"components/ieu-grants";

@import "themes/footer";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lato:wght@400;700;900&display=swap");
@font-face {
	font-family: "Antro-vectra";
	font-style: normal;
	font-weight: 400;
	src: local("Antro-vectra Regular"),
		url("fonts/antro-vectra.woff") format("woff");
	font-display: swap;
}
